* {
    padding: 0;
    margin: 0;
}

body {
    margin-top: 2em;
    display: flex;
    padding: 50px;
    background-color: #222426;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-left: 50px;

}

header>div {
    width: 40vw;
}

header>img {
    border-radius: 100%;
}

header li {
    text-decoration: none;
    list-style: none;
}

header p {
    text-decoration: none;

}

header nav>ul>li>a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    transition: .5s;
}

header nav>ul>li>a:hover {
    color: blue;
    border-color: blue;

}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.conteudo>div>input {
    padding: .5em .9em;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
}

.lista {
    display: flex;
    gap: 5em;
    text-align: center;
}


.lista button {
    border: none;
    background-color: none;
    padding: .3em .7em;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
    transition: .5s;
}

.lista button:hover {
    background-color: black;
    color: white;
}

